// Cores principais
$primary-color: #a93226; // Vermelho escuro
$secondary-color: #6e2c00; // Marrom terroso

// Cores de fundo e texto
$background-color: #f5f0eb;
$text-color: #2e2e2e;

// Extras
$white: #ffffff;
$black: #000000;
